*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Handlee','Indie Flower', 'Alata',sans-serif;
}
:root{
    --rosita:#cf9e8b;
    --naval:#162336;
    --moradado1:#162336;
    --morado2:#7279ae;
    --rosa:#795b5f;
    --morado3:#394360;
    --terracota:#a33213;
    --gris1:#929dad;
    --gris2:#536472;
    --letter:#08090d;
}
.encabezado{
    background-image: linear-gradient(120deg, rgba(142, 201, 186, 0.699) 0%, rgba(48, 85, 27, 0.692) 100%), url(/images/yo.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-encabezado{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-encabezado h1{
    font-size: 60px;
}

.textos-encabezado p{
    font-size: 35px;
    margin-bottom: 20px;
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 1000%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}


/* Taller */

.taller{
    display: flex;
    justify-content: space-between;
}

.taller img{
    width: 48%;
}

.taller .contenedor-textos-main{
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* consultas */

.consultas{
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    
}

.consultas-cont{
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.consultas img{
    width: 28%;
    position: center;
}

/* Reto */

.reto{

    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.reto img{
    width: 48%;
}

.reto .contenedor-textos-main{
    width: 40%;
}


/* footer */

footer{
    background: linear-gradient(120deg, rgba(142, 201, 186, 0.699) 0%, rgba(48, 85, 27, 0.692) 100%);
    color: #fff;
}

.git{
    position: absolute;
    left: 85%;
    right: 10%;

    width: 70px;
    height: 70px;
}

.neocities{
    position: absolute;
    left: 90%;
    right: 5%;

    width: 70px;
    height: 70px;
}
.Titulo{
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
}
.Titulo_Left{
    font-weight: 300;
    text-align: celeftnter;
    margin-bottom: 30px;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
}
.Titulo_right{
    font-weight: 300;
    text-align: right;
    margin-bottom: 30px;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
}
.Creditos{
    width: 1042px;
    height: 73px;
    left: 20%;
    right: 20%;
    top: 865px;
    font-family: 'Handlee';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 21px;
    text-align: center;

    }
.Lista{

    text-align: center;
    font-family: 'Handlee';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #000000;

}
.Lista_left{

    text-align: left;
    font-family: 'Handlee';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #000000;

}
.Lista_right{

    text-align: right;
    font-family: 'Handlee';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #000000;

}



