
  
  body {
font-family: 'Handlee','Indie Flower', 'Alata',sans-serif;

    background-image: url(/images/763110.png) ;
    background-size: cover;
  
  }

  
  /* Style the top navigation bar */
  .menunav {
    
    background-color: #D8E8F6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 12%;
    width: 99%;
    position: fixed;
    bottom: 0;
    align-items: center;
    margin-top: 20px;


  }

  .menunav i{
    font-size: 50px;
    color: #7C7C7C;
   
  
  }
  .menunav i:hover {
    background-color: #ddd;
    color: black;
  }
 
  .menunav a{
    padding: 10px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .menunav a:hover {
    background-color: #ddd;
    
  }
  

  

.contenedor{
    width: 100%;
    height: 60%;

}

.card{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.card-header{

display: flex;
flex-direction: row;
justify-content: space-around;

}
.card-header-right{

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
    }
.card-photo{

display: flex;
flex-direction: row;
justify-content:center;
width: 50%;
    
 }
.card-photo img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    
 }
  .card-items{
    display: flex;
    
justify-content: center;
margin: 20px;
 }
 .card-item{
    flex-direction: row;
    margin: 2px;
    
    
 }
  
 .card-item i{
    width: 50px;
    color: black;
    font-size:xx-large;
 }
 .card-item a{
    display: flex;
    width: 100%;
    color: black;
    font-size:xx-large;
    flex-direction: row;
    justify-content:center;
    align-items: center;
 }
 .card-item p{
    width: 100%;
    color: black;
 
    font-size:xx-large;
 }
 .card-texts{
     width: 50%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px; 
 }
 .card-text{
    width: 100%;
    margin: 2px;
    padding: 2px; 

    font-style: italic;
    text-align: center;
    font-size:xx-large;
 }
 .contenedor_left{
    align-items: center;
    float: left;
    width: 48%;
    margin: 20px  10px 10px 10px ;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedor_right  {
  float: right;
  margin: 20px  0px 10px 10px ;
  width: 48%;
  height: 30%;
 display: flex;
  flex-direction: column;
  justify-content: center;


}
.contenedor_bottom  {
    margin: auto;
  width: 48%;
   padding: 10px;
      height: 30%;
   display: flex;
    flex-direction: row;
    justify-content: center;
 
  
  }

 .column{
    margin: 10px  10px 10px 10px ;
     display: flex;
     flex-direction: column;
      justify-content: center;
      align-items: center;
  
  }
  
  .column p{
      background-color: var(--terracota);
      max-width: 100%;
      padding: 5px;
      font-size: xx-large;
  }
  
  .column img{
    justify-content: center;
    align-items: center;
    width: 70%;
   
   display: flex;
   
   
  
  }
